@import url("/layout.css");

:root {
  color-scheme: light dark;
  --bg-color: #fbf1c7; /* Light background */
  --fg-color: #3c3836; /* Dark foreground */

  --bg-color-reverse: #3c3836; /* Dark background for reverse */
  --fg-color-reverse: #fbf1c7; /* Light foreground for reverse */

  --bg-color-3: #bdae93; /* Lighter background color */
  --bg-color-3-switch: #665c54; /* Darker background for switch */
  --bg-color-hard: #f9f5d7; /* Hard background color */
  --gray: #7c6f64; /* Gray color */

  --orange: #d65d0e; /* Mocha orange */
  --red: #cc241d; /* Mocha red */
  --green: #98971a; /* Mocha green */
  --yellow: #d79921; /* Mocha yellow */
  --blue: #458588; /* Mocha blue */
  --purple: #b16286; /* Mocha purple */
  --aqua: #689d6a; /* Mocha aqua */

  --orange-dim: #af3a03; /* Dimmed orange */
  --red-dim: #9d0006; /* Dimmed red */
  --green-dim: #79740e; /* Dimmed green */
  --yellow-dim: #b57614; /* Dimmed yellow */
  --blue-dim: #076678; /* Dimmed blue */
  --purple-dim: #8f3f71; /* Dimmed purple */
  --aqua-dim: #427b58; /* Dimmed aqua */
}

body {
  background-color: var(--bg-color);
  font-family: "Courier New", monospace;
  margin: 0;
  min-height: 100svh;
  flex-direction: column;
  justify-content: space-evenly;
}

* {
  color: var(--fg-color);
  border: none;
  box-sizing: border-box;
}

h1,
h2 {
  background-color: var(--bg-color-reverse);
  color: var(--fg-color-reverse);
  text-align: center;
  text-decoration: none;
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7 {
  transition: background 0.7s ease-in-out;
  margin-bottom: 0;
  &:hover { background-color: var(--dim-color); }
}

.s1 { background-color: var(--orange); --dim-color: var(--orange-dim); }
.s2 { background-color: var(--red); --dim-color: var(--red-dim); }
.s3 { background-color: var(--green); --dim-color: var(--green-dim); }
.s4 { background-color: var(--yellow); --dim-color: var(--yellow-dim); }
.s5 { background-color: var(--blue); --dim-color: var(--blue-dim); }
.s6 { background-color: var(--purple); --dim-color: var(--purple-dim); }
.s7 { background-color: var(--aqua); --dim-color: var(--aqua-dim); }

.c {
  padding: 1em;
  background-color: var(--bg-color-3);
  text-align: center;
}

img {
  transition: all 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.5);
  border: none;
  box-shadow: 5px 4px 10px black;
}

.pager {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  color: var(--fg-color-reverse);
  text-align: center;
}

.btn {
  transition: background 0.4s ease-in-out;
  cursor: pointer;
  background-color: var(--bg-color-reverse);
  color: var(--fg-color-reverse);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--bg-color-3-switch);
  }
}

.btn.pager-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  margin: 4px 2px;

  &.selected {
    background-color: var(--bg-color);
    color: var(--fg-color);
    border-color: var(--fg-color);
    border-width: thick;
    border-style: solid;
  }
}

.clickable {
  cursor: pointer;
}

.section {
  display: none;

  &.selected {
    display: block;
  }
}

.float-btns {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: end;
}

.btn.float-btn {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;

  & i {
    color: var(--fg-color-reverse);
  }
}

.hidden {
  display: none !important;
}
